body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #850101;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
nav {
    text-align: center;
    background-color: #fb0000;
    padding: 10px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.project {
    margin: 20px 0;
}
.project img {
    max-width: 100%;
}

.formation1 {
    font-size: 18px; /* Vous pouvez ajuster la taille de police selon vos préférences */
}

.project1 {
    font-size: 18px; /* Vous pouvez ajuster la taille de police selon vos préférences */
}

.project2 {
    font-size: 18px; /* Vous pouvez ajuster la taille de police selon vos préférences */
}

.project {
    text-align: center; /* Centre le contenu horizontalement */
}

.Projetimg img {
    display: block; /* Supprime les marges par défaut des images */
    margin: 1 auto; /* Centre l'image horizontalement en utilisant des marges automatiques */
    height: 50px;

}

footer {
    background-color: #850101;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}